.Navbar {
display: block;
position: relative;
text-align: center;
background-color: #333;
z-index: 1;
-webkit-user-select: none;
user-select: none;
height: 100px;
color: white;
padding-bottom: 10px;
}

.Navbar p {
  font-size: 50px;
  left: 50%;
  position: absolute;
  padding-bottom: 10px;
}

.Navbar input {
  display: block;
  width: 40px;
  height: 80px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
-webkit-touch-callout: none;
}

.Navbar span {
  display: block;
  position: relative;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.Navbar span: first-child
{
  transform-origin: 0% 0%;
}

.Navbar span:nth-last-child(2)
{transform-origin: 0% 100%;
}

.Navbar input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg)
  translate(-2px, -1px);
  background: #232323;
}

.Navbar input checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg)
  scale(0.2, 0.2);

}

.Navbar input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.navMenu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navMenu li
{
  padding: 10px 0;
  font-size: 22px;
  color: black;
  display: inline-block;
}

.Navbar input:checked ~ ul
{
  transform: none;
}

.Navbar a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: white;
  transition: color 0.3s
  ease
}
